doctype html

html.no-js
    head
        title Game of Thrones
        link(rel="stylesheet", type="text/css", href="libs/angular-material-style.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", href="libs/nv.d3.min.css")
        //link(rel="stylesheet", href="libs/font-awesome.min.css")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")



    body(ng-app="gameOfThrones", ng-controller="mainController")


        script(src="libs/angular1.6.js")
        script(src="libs/angular-ui-router.min.js")
        script(src="libs/angular-material.js")
        script(src="libs/angular-animate.js")
        script(src="libs/angular-aria.js")

        script(src="libs/d3.min.js", charset="utf-8")
        script(src="libs/nv.d3.min.js")
        script(src="libs/angular-nvd3.js")

        script(src="app.js")
        script(src="js/controllers/mainController.js")
        script(src="js/controllers/battleController.js")
        script(src="js/services/battleService.js")



        span(ui-sref="dashboard")

        ui-view


