doctype html

html.no-js
    head
        title Bike Sharing Data Analysis
        link(rel="stylesheet", type="text/css", href="libs/angular-material-style.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", href="libs/nv.d3.min.css")
        //link(rel="stylesheet", href="libs/font-awesome.min.css")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        //link(rel="stylesheet", href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css")



body(ng-app="uberBikes", ng-controller="mainController")


        script(src="libs/angular1.6.js")
        script(src="libs/angular-ui-router.min.js")
        script(src="libs/angular-material.js")
        script(src="libs/angular-animate.js")
        script(src="libs/angular-aria.js")

        script(src="libs/d3.min.js", charset="utf-8")
        script(src="libs/nv.d3.min.js")

        script(src="libs/angular-nvd3.js")
        script(src="libs/nvd3-directives.js")


        script(src="app.js")
        script(src="js/controllers/mainController.js")
        script(src="js/controllers/bikeController.js")
        script(src="js/controllers/insightsController.js")
        script(src="js/services/bikeService.js")

        script(src="libs/ng-table.min.js")



        span(ui-sref="dashboard")

        ui-view


